.container {
  width: 450px;
  height: 720px;
  border-radius: 20px;
  border: solid;
  border-color: white;
  padding: 15px;
  margin: 100px auto auto;
}

.place {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  padding-left: 8px;
}

p + p {
  /* position: absolute; */
  text-align: left;
  font-size: 10px;
}
p + p + p {
  text-align: left;
  font-size: 40px;
}

.weathersituation {
  position: absolute;
  display: inline-block;
}

.weathericon {
  position: relative;
  font-size: 125px;
  padding-top: 45px;
  padding-left: 25px;
}

.weatherdescription {
  position: relative;
  font-size: 15px;
  padding-left: 70px;
  margin-top: 30px;
}

div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

span > i {
  padding-left: 45px;
}

i + p {
  margin-left: 10px;
}

.searchbar {
  width: 88%;
}

.searchinput {
  color: white;
  width: 88%;
  text-align: center;
  text-size-adjust: 30px;
  font-family: "Poppins";
}
.searchicon {
  position: absolute;
  font-size: 25px;
  padding-top: 5px;
  padding-left: 5px;
}

.floating-pulse {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.footer {
  font-size: 15px;
  margin-top: 25px;
}

.github {
  margin-left: 4px;
}

.time-weather-icon {
  position: absolute;
  margin-left: 150px;
}

.time-weather-main {
  position: relative;
  margin-left: 5px;
}

.wi-temp {
  position: absolute;
  font-size: 20px;
  margin-left: 2px;
  text-align: left;
}

.feel-like {
  position: absolute;
  margin-left: 320px;
}

.humidity-wind {
  margin-bottom: 0px;
}
