.container {
  width: 450px;
  height: 710px;
  border-radius: 20px;
  border: solid;
  border-color: white;
  padding: 15px;
  margin: 100px auto auto;
}

.place {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  padding-left: 8px;
}

p + p {
  text-align: left;
  font-size: 40px;
}

.weathericon {
  display: inline-block;
  font-size: 125px;
  margin-left: 85px;
}

div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

span > i {
  padding-left: 45px;
}

i + p {
  margin-left: 10px;
}

.searchbar {
  width: 88%;
}

.searchinput {
  color: white;
  width: 88%;
  text-align: center;
  text-size-adjust: 30px;
  font-family: "Poppins";
}
.searchicon {
  position: absolute;
  font-size: 25px;
  padding-top: 5px;
  padding-left: 5px;
}

.floating-pulse {
  position: absolute;
  display:inline-block;
  margin-left: 10px;
  margin-top:5px
}

.footer{
  font-size:15px;
}

.github{
  margin-left: 4px;
}
